body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #2E64FE;
}

.quem-somos {
    background-color: #00BFFF;
    color: #0404B4;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #2EFE2E;
}

.bg-footer {
    background-color: black;
    color: white;
}